@{
    ViewData["Title"] = "Home Page";
}

<head>
    <style>
        main {
            
            display: grid;
            grid-gap: 20px;
            padding: 20px;
            justify-items: center;
        }

        .dnumbers {
            color: #ff9800;
            font-size: 90px
        }
    </style>
</head>
<body>
    <main>
        <div class="container">
            <div class="row">
                <div class="col">
                    <h2>Number Of Users</h2>
                    <div class="dnumbers">
                        @ViewBag.UserCount
                    </div>
                </div>
                <div class="col">
                </div>
                <div class="col">
                    <h2>Number Of Rooms</h2>
                    <div class="dnumbers">
                        @ViewBag.RoomCount
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>